<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title> My First Blog </title>
        </head>
        <body>
            <div>
                <h1><a ref="/">Django Girls Blog</a></h1>
            </div>

            <div>
                <p>published: 9.05.2020, 10:53</p>
                <h2><a ref="">My first post</a></h2>
                <p>Lorem ipsum dolor sit amet, per at movet blandit electram, sonet zril eu sed. Mea te</p>
            </div>

            <div>
                <p>published: 8.05.2020, 17:53</p>
                <h2><a ref="">My second post</a></h2>
                <p>Lorem ipsum dolor sit amet, per at movet blandit electram, sonet zril eu sed. Mea te</p>
            </div>
        </body>
    </html>